In [55]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
from watson_developer_cloud import ToneAnalyzerV3
import scipy as sci
from functools import reduce

In [56]:
#Read csv files
csv_pathc = "../lyrics_output/df_words_United_States_Top_50.csv"
csv_path1 = "../lyrics_output/df_words_All_Out_10s.csv"
csv_path0 = "../lyrics_output/df_words_All_Out_00s.csv"
csv_path9 = "../lyrics_output/df_words_All_Out_90s.csv"
csv_path8 = "../lyrics_output/df_words_All_Out_80s.csv"
csv_path7 = "../lyrics_output/df_words_All_Out_70s.csv"
csv_path6 = "../lyrics_output/df_words_All_Out_60s.csv"
csv_path5 = "../lyrics_output/df_words_All_Out_50s.csv"

In [57]:
#Create dataframes for each decade
df_c = pd.read_csv(csv_pathc)
df_10s = pd.read_csv(csv_path1)
df_00s = pd.read_csv(csv_path0)
df_90s = pd.read_csv(csv_path9)
df_80s = pd.read_csv(csv_path8)
df_70s = pd.read_csv(csv_path7)
df_60s = pd.read_csv(csv_path6)
df_50s = pd.read_csv(csv_path5)

In [58]:
#Read in the top 50 most commonly used English words (OEC standard)
lines = list()
fh = open("../top50_words.txt")
for line in fh:
    line = line.rstrip()
    lines.append(line)

## US Top 50

In [59]:
#Sorting and editing
df_current = df_c.sort_values("count", ascending = False)
df_current = df_current.rename(columns = {"Unnamed: 0": "words"})

#Remove the most common English words
dfu=df_current[~df_current['words'].isin(lines)]
dfu.sort_values('count',ascending=False)
dfu['count'].sum()

17096

## Top 10s

In [60]:
#Sorting and editing
df_10s=df_10s.sort_values("count", ascending = False)
df_10s = df_10s.rename(columns={"Unnamed: 0": "words"})

#Remove most common English words
df1=df_10s[~df_10s['words'].isin(lines)]

## Top 00s

In [61]:
#Sorting and editing
df_00s = df_00s.sort_values("count", ascending = False)
df_00s = df_00s.rename(columns = {"Unnamed: 0": "words"})

#Remove most common English words
df0=df_00s[~df_00s['words'].isin(lines)]

## Top 90s

In [62]:
#Sorting and editing
df_90s = df_90s.sort_values("count", ascending = False)
df_90s = df_90s.rename(columns = {"Unnamed: 0": "words"})

#Remove most common English words
df9=df_90s[~df_90s['words'].isin(lines)]

## Top 80s

In [63]:
#Sorting and editing
df_80s = df_80s.sort_values("count", ascending = False)
df_80s = df_80s.rename(columns = {"Unnamed: 0": "words"})

#Remove most common English words
df8=df_80s[~df_80s['words'].isin(lines)]

## Top 70s

In [64]:
#Sorting and editing
df_70s = df_70s.sort_values("count", ascending = False)
df_70s = df_70s.rename(columns = {"Unnamed: 0": "words"})

#Remove most common English words
df7=df_70s[~df_70s['words'].isin(lines)]

## Top 60s

In [65]:
#Sorting and editing
df_60s = df_60s.sort_values("count", ascending = False)
df_60s = df_60s.rename(columns = {"Unnamed: 0": "words"})

#Remove most common English words
df6=df_60s[~df_60s['words'].isin(lines)]

## Top 50s

In [66]:
#Sorting and editing
df_50s = df_50s.sort_values("count", ascending = False)
df_50s = df_50s.rename(columns = {"Unnamed: 0": "words"})

#Remove most common English words
df5=df_50s[~df_50s['words'].isin(lines)]

In [98]:
dfs=[df5,df6,df7,df8,df9,df0,df1,dfu]
mdf=reduce(lambda left,right: pd.merge(left,right,on=['words'],how='outer'), dfs)
cols=['words','50s','60s','70s','80s','90s','00s','10s','US']
mdf.columns=cols
sum50=mdf['50s'].sum()

'words'

In [117]:
x=0
sums=[]
for x in range(1,9):
    bill=cols[x]
    bum=mdf[bill].sum()
    sums.append(bum)
    x+=1
sums
pd.DataFrame(list(zip(cols[1:9],sums)))

     0        1
0  50s   2935.0
1  60s   5144.0
2  70s   9246.0
3  80s   8572.0
4  90s  14660.0
5  00s  16146.0
6  10s  13793.0
7   US  17096.0

In [113]:
sums

[2935.0, 5144.0, 9246.0, 8572.0, 14660.0, 16146.0, 13793.0, 17096.0]